.App {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dark {
  --primary-color: #000;
  --secondary-color: #fff;
}
.blue {
  --primary-color: rgb(52, 146, 208);
  --secondary-color: white;
}
.white {
  --primary-color: white;
  --secondary-color: #000;
}

.bg {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
